#cog .sub-main-menu__title {
  font-size: 14px;
  padding-top: 20px;
}

#cog .sub-nav-bar {
  width: 20%;
  background-color: white;
  border-right: var(--main-border);
}

#cog .sub-nav-bar__title {
  height: 36px;
  opacity: 0.4;
}
#cog .sub-nav-bar__title--selected {
  background-color: #ececed;
  opacity: 1;
}

#cog .main {
  padding-top: 67px;
  padding-left: 41px;
  padding-right: 25px;
}

.cog-general__basic {
  margin-bottom: 14px;
}
.cog-general__basic-title {
  padding-top: 31px;
  font-weight: 600;
  margin-bottom: 22px;
}

.cog-general__basic-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.cog-general_basic-value {
  width: 175px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cog-general_basic-value {
  border: 1px solid var(--weak-gray);
  border-radius: 5px;
  padding: 0 9px;
  box-sizing: border-box;
}

.cog-general_basic-value--non-border {
  border: none;
  padding: 0;
  padding-left: 4px;
  width: 175px;
}
.cog-general_basic-value-line {
  width: 134px;
  background-color: var(--yellow);
  border: none;
  height: 3px;
}

.cog-general_basic-value:last-child {
  position: relative;
}
.cog-general_basic-value-circle {
  border: var(--main-border);
  background-color: white;
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  right: 30px;
}
.cog-general_basic-value-question {
  font-size: 12px;
  font-weight: 600;
  border: var(--main-border);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  color: var(--gray);
}

.cog-general_basic-value-name {
  font-size: 12px;
}

.cog-general__component-title {
  padding: 23px 0;
  font-weight: 600;
}

.cog-general__component-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cog-general__component-checkbox {
  margin-right: 10px;
  width: 23px;
  height: 23px;
}
.cog-general__component-attribute-name {
  font-size: 14px;
}

input[id="yello-checkbox"] + label {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: none;
  background-color: var(--yellow);
  border-radius: 50%;
  margin-right: 7px;
}
input[id="yello-checkbox"]:checked + label:after {
  content: "\2714";
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[id="yello-checkbox"] {
  display: none;
}
