.nav-bar__friends--selected .fa-user {
  opacity: 1;
}

.multi-profile {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

.multi-profile > .multi-profile__row:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: var(--message-opacity);
  font-weight: 600;
  font-size: 13px;
}

.multi-profile__icon {
  padding-right: 10px;
  font-size: 16px;
  opacity: 0.6;
}

.multi-profile__plus {
  font-size: 41px;
  margin-right: 15px;
  opacity: var(--message-opacity);
  background-color: #f6f6f6;
  border: var(--main-border);
  width: 50px;
  height: 50px;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-profile__name,
.friends__name {
  margin-bottom: 0;
}

.friends .profile {
  margin-top: 20px;
}

.friends__count {
  margin-left: 7px;
}
