#log-in {
  background-color: var(--yellow);
}

.talk-bubble-box {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.talk-bubble {
  position: relative;
  display: flex;
}

.talk-bubble__bubble {
  font-size: 120px;
}

.talk-bubble__text {
  position: absolute;
  color: var(--yellow);
  font-family: "Itim", cursive;
  font-size: 40px;
  font-weight: 700;
  top: 37px;
  left: 14px;
  display: flex;
  justify-content: center;
}
