#log-in {
  background-color: var(--yellow);
}
#log-in .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
  padding: 10px;
}
#log-in .main-menu__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#log-in .main-menu__column .fa-times {
  margin-left: 20px;
}
#log-in .main-menu__underscore {
  font-weight: 600;
}

.talk-bubble-box {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.talk-bubble {
  position: relative;
  display: flex;
}
.talk-bubble__bubble {
  font-size: 120px;
}
.talk-bubble__text {
  position: absolute;
  color: var(--yellow);
  font-family: "Fredoka One", cursive;
  font-size: 38px;
  font-weight: 400;
  top: 40px;
  left: 11px;
  display: flex;
  justify-content: center;
}

.log-in-menu {
  display: flex;
  flex-direction: column;
  margin: 50px 70px;
}

.log-in-menu input,
.log-in-menu__btn {
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0 10px;
}

.log-in-menu input:first-child {
  border-bottom-color: var(--weak-gray);
}

.log-in-menu input:nth-child(2) {
  border-top-color: var(--weak-gray);
  margin-bottom: 7px;
}

.log-in-menu__btn {
  font-size: 18px;
  color: var(--gray);
}

.log-in-menu__auto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--gray);
}

.log-in-menu__checkbox {
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.log-in-menu__auto-icon-box {
  margin-left: 4px;
  background-color: var(--weak-gray);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.log-in-menu__auto-icon {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.log-in-option {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 30px;
  color: var(--gray);
}
