.nav-bar__nore--selected .fa-ellipsis-h {
  opacity: 1;
}

.my-info {
  border: var(--main-border);
  margin-top: 35px;
  background-color: #fafafa;
  border-radius: 5px;
}

.my-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-info__row:first-child {
  padding: 25px;
}

.my-info__row:last-child {
  border-top: var(--main-border);
  padding: 20px 25px;
}

.my-info__row:first-child .my-info__title {
  display: flex;
  flex-direction: column;
}

.my-info__title-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.my-info__row:first-child .my-info__icon {
  position: relative;
  font-size: 30px;
}

.my-info__icon-shield {
  color: #3961e1;
}

.my-info__icon-circle {
  background-color: var(--yellow);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 8px;
}

.my-info__title-subscribe {
  font-weight: 600;
}

.my-info__title-mail {
  opacity: 0.4;
  font-weight: 600;
}

.my-info__icon-chevron {
  opacity: 0.4;
}

.more-icons {
  margin-top: 15px;
}
.more-icons__row {
  display: flex;
}

.more-icons__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
}

.more-icons__icon {
  font-size: 27px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.more-icons__text {
  opacity: 0.4;
  font-weight: 600;
}
