@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* components */

/* screens */
@import "screens/log-in.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #262626;
}

.divider {
  width: 1.5px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0 17px;
}
