:root {
  --yellow: #ffeb33;
  --gray: rgba(0, 0, 0, 0.55);
  --weak-gray: rgba(0, 0, 0, 0.15);
  --left-margin: 85px;
  --opacity: 0.3;
  --message-opacity: 0.7;
  --main-border: 1px solid rgba(0, 0, 0, 0.1);
}
