.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  border-top: 1px solid rgba(114, 112, 112, 0.3);
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  padding: 15px 52px;
  position: relative;
}

.nav__link {
  color: #2f363e;
}

.nav__notification {
  background-color: red;
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  bottom: 22px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.nav__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  right: 48px;
  top: 12px;
}
