@keyframes circleRotate {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(20px) rotateY(720deg);
  }
  100% {
    transform: none;
  }
}

.red-circle {
  background-color: #ff5442;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-size: 13px;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 21px;
  bottom: 18px;
  will-change: auto;
  animation: circleRotate 1s ease-in-out infinite;
}
