.sub-nav-bar {
  width: 27%;
}

.sub-nav-bar__row {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

.sub-nav-bar__title {
  height: 53px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  padding-left: 21px;
}

.sub-nav-bar__title:first-child {
  padding-top: 10px;
}

.sub-nav-bar__title--selected {
  background-color: #dfdfe0;
}
